* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: aqua;
  }

  .container {
    margin: 0 auto;
    max-width: 1100px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
  }
  #search {
    display: block;
    margin: 25px auto 5px;
    padding: 10px;
    height: 40px;
    width: 95%;
    border: 1px solid rgb(5, 19, 100);
    background-color: #eee;
    box-shadow: 3px 2px 3px 0px rgba(0,0,0,0.75);
  }

  #search::placeholder {
    font-size: 14px;
  }

  .col {
    display: block;
    margin: 20px 10px;
    max-width: 100%;
    height: 250px;
    color: white;
    letter-spacing: 1px;
    padding: 5px 25px 25px;
  }
 
  .box-1 {
    background-color: #093145;
  }
 
  .box-2 {
    background-color: #3C6478;
  }

  .box-3 {
    background-color: #107896;
  }

  .box-4 {
    background-color: #829356;
  }

  .box-5 {
    background-color: #C2571A;
  }

  .box-6 {
    background-color: #9A2617;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 
  @media (min-width: 768px) {
    #search {
      width: 50%;
    }
    .col {
      float: left;
      width: calc(50% - 20px);
      margin-bottom: 0;
    }
  }

  @media (min-width: 1024px) {
    .col {
      width: calc(33.333% - 20px);
    }
  }